<main>
  <header class="header">
    <h1>Vegan Food</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/order">Cart</a></li>
      </ul>
      <div>{{quantity$ | async}}</div>
    </nav>
  </header>
  <section class="content">
    <router-outlet />
  </section>
</main>

<aside>
  <h2>Your Order</h2>
  @for(order of order$ | async; track order.key) {
    <div>
      <img src="" alt="Photo of {{order.name}}">
      <div>{{ order.name }} - {{ order.price }} x {{ order.quantity }} = {{ order.total }}</div>
      <div>{{ order.description }}</div>
    </div>
  }
  <div>Subtotal: {{subtotal}}</div>
  <div>Sales Tax (7.25%): {{salesTax}}</div>
  <div>Total ($/USD): {{total}}</div>
</aside>
